<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<Encoding>UTF-8</Encoding>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-20(%d{yyyy-MM-dd HH:mm:ss.SSS}) %-5level%logger{80}.%method - %msg%n</pattern>
		</layout>
	</appender>

	<appender name="log"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>./logs/log.log</File>
		<encoder>
			<pattern>%-20(%d{yyyy-MM-dd HH:mm:ss.SSS}) %-5level%msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>./logs/log.log.%d{yyyy-MM-dd}</fileNamePattern>
		</rollingPolicy>
	</appender>
	
	<logger name="org.apache" level="ERROR" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="log"/>
	</root>

</configuration>
